<div class="container">
  <div class="row">
    <div class="col-2">
      
    </div>
    <div class="col-7">
      <%= render "shared/return_nav", obj: root_path %>
      <div class="container mt-5">
        <h1>Login to your account</h1>
        <%= render 'form' %>
      </div>

    </div>
    <div class="col">
      
    </div>
  </div>
</div>
