<div class="container">
  <h1 class="mt-4">Edit</h1>

  <%= render 'form' %>
  
  <br>
  <button type="button" class="btn btn-warning"><%= link_to "Cancel edit", article_path(@article), class: "h6 text-white", style: "text-decoration: none" %></button>
</div>
