<div class="container">
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col-7">
      <div class="container mt-4">
        <h2>What the hell is going on</h2>
      </div>
      <%= render 'small_form' %>
      <%= render 'article_list' %>
      
    </div>
    <div class="col">
      
    </div>
  </div>
</div>