<div class="container">
  <h1 class="mt-4">What the hell is going on</h1>

  <%= render 'form' %>
  <br>
  <button type="button" class="btn btn-warning"><%= link_to "Return", articles_path, class: "h6 text-white", style: "text-decoration: none" %></button>
</div>