<div class="container mt-4">
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col-5">
      <h1>Create your account</h1>
      <%= render 'form' %>
    </div>
    <div class="col">
      
    </div>
  </div>
</div>
