<div class="sticky-top">
  <div class="container border mt-5 mb-5 pt-2 pb-2">
    <%= render 'users/user_list_small' %>
  </div>
  <div class="container border mt-5 mb-5 pt-2 pb-2">
    <%= render 'categories/category_list_small' %>
  </div>
</div>
