<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a><%= link_to "ALPHA", root_path, class: "navbar-brand" %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a><%= link_to "Home", root_path, class: "nav-link" %></a>
          </li>
          <li class="nav-item">
            <a><%= link_to "Articles", articles_path, class: "nav-link" %></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>